<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status, options = Post.statuses(options) %>
  </p>
  <p>
    <%= f.label :post_type %><br />
    <%= f.select :post_type, options = Post.types(options) %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>