<% @page_title = @post.title %>

<% if @post.post_type == 'music' %>
	<% content_for :head do %>
		<%= render :partial => 'static/music' %>
	<% end %>
<% end %>

<article pubdate="<%= @post.updated_at %>">
	<span class="date lemonde"><%= @post.updated_at.strftime("%B %d, %Y") %></span>

	<% if @post.title_image.url == "/title_images/original/missing.png" %>
		<h2 class="lemonde"><%= link_to @post.title.titleize, @post %></h2>
	<% else %>
		<h2 class="off"><%= @post.title %></h2>
		<%= link_to_unless_current image_tag (@post.title_image.url, :title => @post.title, :class => 'title'), @post, :class => 'title' %>
	<% end %>

	<div class="body"><%= @post.body %></div>
</article>


<nav class="adminControls">
	<ul>
		<% if current_user %>
		<li><%= link_to 'Show', @post %></li>
    <li><%= link_to 'Edit', edit_post_path(@post) %></li>
    <li><%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %></li>
		<% end %>
	</ul>
</nav>

<div id="recentMain">
	<h2>Recent</h2>
	<% @posts[0..8].each do |p| %>
		<% if p.title_image.url == "/title_images/original/missing.png" %>
			<%= link_to p.title, p, :class => "lemonde"  %>
		<% else %>
			<%= link_to p.title, p, :class => 'off', :style => "background: url(#{p.title_image.url}) no-repeat" %>
		<% end %>
	<% end %>
</div>