<% @page_title = @post.title %>
<article pubdate="<%= @post.updated_at %>">
	<span class="date goudy"><%= @post.updated_at.strftime("%B %d, %Y") %></span>

	<% if @post.title_image.url == "/title_images/original/missing.png" %>
		<h2 class="goudy"><%= link_to @post.title.titleize, @post %></h2>
	<% else %>
		<h2 class="off"><%= @post.title %></h2>
		<%= link_to image_tag (@post.title_image.url, :title => @post.title), @post, :class => 'title' %>
	<% end %>

	<div class="body"><%= @post.body %></div>
</article>

<% if current_user %>
	<nav class="adminControls">
		<ul>
			<li><%= link_to 'Show', @post %></li>
	    <li><%= link_to 'Edit', edit_post_path(@post) %></li>
	    <li><%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %></li>
		</ul>
	</nav>
<% end %>