<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>jgoggl.es - <%= page_title %></title>
	<!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'main'  %>
	<%= javascript_include_tag :defaults, 'fonts' %>

  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<%= yield :head %>
	
  <% if RAILS_ENV=="production" %>
    <%= render :partial => 'static/tracking' %>
  <% end %>

</head>
<body>
	<header>
		<h1 class="goudy"><%= link_to 'jgoggl.es', '/' %></h1>
		<h2><%= tagline %></h2>
	</header>
	<div class="topSeparator">
		<% if current_user %>
			<nav>
				<ul>
					<li><%= link_to "Posts", :controller => 'admin' %></li>
					<li><%= link_to "Taglines", :controller => 'taglines' %></li>
					<li><%= link_to "Links", :controller => 'links' %></li>
					<li><%= link_to "Logout", "/logout" %></li>
				</ul>
			</nav>
		<% end %>
	</div>
	<div id="container">
  	<section>
  		<% if !flash.blank? %>
  		  <div id="flash" class="alert">
  		    <%  flash.each do |key, msg| %><%=  content_tag :div, msg, :id => key %><%  end %>
  		  </div>
  		<% end %>

  	  <%= yield %>

  	</section>
  	<aside>
  	  <% if @posts %>
        <%= render :partial => 'posts/recent' %>
    	<% end %>
    	
    	<% if @links %>
      	<%= render :partial => 'links/links' %>
    	<% end %>
  	</aside>
	</div>
	<div class="clearBoth"></div>
	<footer>
		<nav class="static">
		<ul>
			<li><%= link_to 'Archive', '/archive' %></li>
			<li><%= link_to 'About', '/about' %></li>
		</ul>
		</nav>
	</footer>
</body>
</html>
